{% extends "navbar/navbar.html" %}

{% block content %}

<div class= "container">
	<div class = "jumbotron jumbotron-fluid">
		<div class="col">
			  <h1>{{ user.name }}</h1>

        {% for tag in user.get_tags() %}

        <span class="badge badge-secondary">{{ tag }}</span>

        {% endfor %}

        {% if user.mentor %}
			  <h4>Mentor</h4>
        {% endif %}

			  <p>{{ user.bio }}</p>




        {% if user.mentor %}
			  <p>Price: $30 per hour</p>
        {% endif %}

        <a href="/edit_profile">
            <button class="btn btn-primary">Edit</button>
        </a>
		</div>	
	</div>
</div>

{% endblock %}
